
<div class="comment-indent">
        <p>{{this.content}}</p>
        <p>Written by: {{this.author.username}}</p>
        <a class="btn btn-default btn-sm"
            href='/posts/{{this.postId}}/comments/{{this._id}}/replies/new'
            role="button">
                Reply
        </a>

    {{#each post.comments}}
        {{this.content}}
    {{/each}}
  </div>
