
<a href="/">Home</a>

    <h1>{{post.title}}</h1>

      <div>
        <li class="list-group-item">
            <div class="lead">{{post.title}}</div>
                <a href="{{post.url}}" target="_blank">{{post.url}}<a
            </div>

            <form class="vote-up" data-id="{{post._id}}">
                <button type="submit">Vote Up</button>
            </form>

            <form class="vote-down" data-id="{{post._id}}">
                <button type="submit">Vote Down</button>
            </form>
        </li>
        {{post.content}}
    </div>

    <form action="/posts/{{post._id}}/comments/{{comment._id}}/replies">
      <div class="form-group">
        <textarea name="content" class="form-control" id="reply-content" placeholder="Reply"></textarea>
      </div>

      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Reply<button>
      </div>
    </form>

    <form action="/post/{{post._id}}/comments" method="POST">
        <textarea class='form-control' name="comment" placeholder="Comment"></textarea>
        <div class="text-right">
            <button type="submit">Save</button>
        </div>
    </form>

    {{#each post.comments}}
    <div class="comment">
        <p>{{this.author.username}} commented</p>
       <p>{{this.comment}}</p>
    </div>
    {{/each}}
