<a href="/"><h1>RedditClone!</h1></a>
<h2>The front thread on the internet.</h2>
<section>
{{#each posts}}
    <article>
        <a href="/post/{{this._id}}">

           <h3>{{this.title}}</a></h3>
           <p>{{this.url}}</p>
         <a href="/n/{{this.subreddit}}">/n/{{this.subreddit}}</a>
        <div>{{this.summary}}</div>
    </article>

    <form method="POST" action="/posts/{{this._id}}?_method=DELETE">
        <a class="btn btn-default" href="/posts/{{this._id}}/edit" role="button">
            Edit
        </a>
{{/each}}
</section>
