<a href="/"><h1>RedditClone!</h1></a>
<h2>The front thread on the internet.</h2>
<section>
{{#each posts}}
    <article>
        <a href="/post/{{post._id}}">

           <h3>{{post.title}}</a></h3>
           <p>{{post.url}}</p>
         <a href="/n/{{post.subreddit}}">/n/{{post.subreddit}}</a>
        <div>{{post.summary}}</div>
    </article>

    <form method="POST" action="/posts/{{post._id}}?_method=DELETE">
        <a class="btn btn-default" href="/posts/{{post._id}}/edit" role="button">
            Edit
        </a>
{{/each}}
</section>
